.filter-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid #b6b6b6;
    border-radius: 7%;
    
}

.filter-container >input{
    width: 270px;
    font-size: 18px;
    padding: 5px;
    background-color: inherit;
    color: rgb(33, 33, 33);
    border: none;
    outline: none;
}